@model SisConsultaMVC.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir paciente</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <hr />
    <dl class="col-md-12">
        <dt>
            @Html.DisplayNameFor(model => model.NomePaciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePaciente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumTelefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumTelefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PacienteID" />
        <input type="submit" value="Excluir" class="btn btn-success" /> 
        <input type="button" value="Voltar" class="btn" onclick="history.go(-1)" />
    </form>
</div>
